<nav class="navbar">
  <div class="nav-container">
    <a href="/blog/home" class="logo">
      <img src="/images/blognest-logo.png" alt="BlogNest" class="logo-icon" onerror="this.style.display='none'"/>
      <span>BlogNest</span>
    </a>
    
    <button class="hamburger" aria-label="Toggle menu">
      <i class="fas fa-bars"></i>
    </button>

    <ul class="nav-links" id="navLinks">
      <li><a href="/home">Home</a></li>
      <li><a href="/userBlogs">Blogs</a></li>
      <li><a href="/createBlog">Write</a></li>
      <li class="welcome">Hi, <%= user.username %></li>
      <li><a href="/Logout">Logout</a></li>
    </ul>
  </div>
</nav>
